<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.6/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.6/js/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="p-3" >
        <div class="p-3">
            <div class="row">
                <div class="col col-md-6 offset-3">
                    <div class="card">
                        <div class="card-header">Authentication</div>
                        <div class="card-body">
                            <form th:action="@{login}" method="post">
                                <div class="mb-3">
                                    <label class="form-label">Username
                                        <input type="text" name="username" class="form-control">
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password
                                        <input type="password" name="password" class="form-control">
                                    </label>
                                </div>
                                <button class="btn btn-primary">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>